#root {
  font-family: "Source Code Pro", monospace;
}

.timer {
  font-size: 10rem;
}
.iyfycc {
  font-size: 2rem;
}

@media only screen and (max-width: 800px) {
  .timer {
    font-size: 5rem;
  }
  .iyfycc {
    font-size: 1.25rem;
  }
}
